<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"

    xmlns:tools="http://schemas.android.com/tools">

    <!-- INTERNET -->

    <uses-permission
        android:name="android.permission.INTERNET" />

    <!-- NOTIFICATION -->

    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS" />

    <application

        android:allowBackup="true"

        android:usesCleartextTraffic="true"

        android:dataExtractionRules="@xml/data_extraction_rules"

        android:fullBackupContent="@xml/backup_rules"

        android:icon="@mipmap/ic_launcher"

        android:label="@string/app_name"

        android:roundIcon="@mipmap/ic_launcher_round"

        android:supportsRtl="true"

        android:theme="@style/Theme.FitBody"

        tools:targetApi="31">
        <activity android:name=".PtMainActivity" />
        <activity android:name=".AddWorkoutActivity" />
        <activity android:name=".ChatActivity" />
        <!-- LOGIN -->


        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true">

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>


        <!-- MAIN -->


        <activity
            android:name=".MainActivity"
            android:exported="false" />


        <!-- TIMER -->


        <activity
            android:name=".ui.WorkoutTimerActivity"
            android:exported="false" />


        <!-- TRAINER DETAIL -->


        <activity
            android:name=".ui.detail.TrainerDetailActivity"
            android:exported="false" />


        <!-- WORKOUT DETAIL -->


        <activity
            android:name=".ui.detail.WorkoutDetailActivity"
            android:exported="false" />


        <!-- PT DASHBOARD -->


        <activity
            android:name=".ui.pt.PTDashboardActivity"
            android:exported="false" />


        <!-- ADD WORKOUT -->


        <activity
            android:name=".ui.pt.AddWorkoutActivity"
            android:exported="false" />


        <!-- RECEIVER -->


        <receiver
            android:name=".utils.WorkoutReceiver"
            android:exported="false" />

    </application>

</manifest>